/*label styling */
.cke_pbckcode_form .cke_dialog_ui_labeled_content {
    display        : inline-block;
    vertical-align : middle;
    margin-left    : 6px;
}

.cke_pbckcode_form.cke_dialog_ui_select {
    margin-bottom: 0;
}

.cke_pbckcode_ace {
    margin-top: 31px;
}

/*select styling */
.cke_pbckcode_form .cke_dialog_ui_input_select select {
background-color: #FFF;
border: 1px solid #DDD;
border-radius: 2px;
color: #555;
display: inline-block;
font-family: "Open Sans", sans-serif;
font-size: 12px;
width: 110px;
}

 /* ace reset needed due to ckeditor style */
.cke_pbckcode_ace.ace_editor * {
    font-family : 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    font-size   : 12px;
}

/*good font color on dark theme*/
.cke_pbckcode_ace.ace_dark * {
    color : inherit;
}
