.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #619eb6;
    color: #fff;
}
.btn-success {
    background-color: #619eb6;
    border-color: #619eb6;
    color: #fff;
}
.btn-success:focus, .btn-success.focus, .btn-success:hover{
    background-color: #619eb6 !important;
    border-color: #619eb6 !important;
}
.btn-primary {
    background-color: #619eb6;
    border-color: #619eb6;
    color: #fff;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:hover{
    background-color: #619eb6 !important;
    border-color: #619eb6 !important;
}
.background{
    background: #f8f8f8 none repeat scroll 0 0;
    border-right: 1px solid #ddd;
    font-weight: 600;
    width: 20%;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, 
.table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active,
.table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, 
.table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th,
.table > tfoot > tr.active > th{
    background: #eee;
}
tbody{
    border:1px solid #eee;
}
.title{
    font-size: 20px;
}
.footer.text-muted {
    display: block;
    text-align: center;
    width: 75%;
}
.bg-teal-400{
    background-color: #619eb6;
    border-color: #619eb6;
    color: #fff;
}
#Setting-sub-menu li > a,#reports-sub-menu li > a, #job-crop-sub-menu li > a{
    padding:10px 30px;
}

.navigation-main .fa.fa-angle-down,.navigation-main .fa.fa-angle-right {
      display: block;
    float: right;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 2px;
}
.font-icon{
    font-size: 15px;
}
.navigation li.active a, .navigation li.active a:hover, .navigation li.active a:focus{
    background-color: #619eb6;
    color: #fff;
}

.form-horizontal .checkbox .checker, .form-horizontal .checkbox-inline .checker {
    top: 18px;
}
.padding-form .col-lg-6{
    display: block;
    padding: 0 19px;
}
.padding-form .col-lg-12{
    display: block;
    padding: 0 19px;
}
.col-lg-12.col-sm-12.checkbox-padding {
  padding: 0 10px;
}
.col-lg-12.col-sm-12.checkbox-padding input {
  position: relative;
  top: 6px;
}
.col-lg-2.col-sm-2.checkbox-padding {
  margin: 22px 0 0;
}
.checkbox-padding .form-group {
  display: inline-flex;
  flex-direction: row;
  padding: 0 0 0 10px;
}
.checkbox-padding input {
  display: block;
  margin: 0 0 0 15px;
  position: relative;
  top: 4px;
}
.col-lg-12.col-sm-12.btn-padding {
  padding: 0 10px;
}
.padding-form-tran .col-lg-6{
    display: block;
    padding: 0 19px;
}
.padding-form-tran  .col-lg-12{
    display: block;
    padding: 0 19px;
}
.col-lg-12.col-sm-12.padding-none {
  padding: 0 10px;
}
.com-soon > h1 {
  display: block;
  font-size: 40px;
  padding: 100px 0;
  text-align: center;
  text-transform: uppercase;
}
.com-soon {
  display: block;
  min-height: 300px;
}
.margin-checkbox{
  margin-top: 28px;
}